.App {
  display: flex;
  width: 100vw;
  height: 100vh;
}

.NavBar {
  width: 200px;
  height: 100%;
  border-right: 1px solid;
  display: flex;
}

.Pages {
  display: flex;
  justify-content: center;
  width: 100%;
}

.Controls {
  align-items: center;
  padding: 10px;
  display: flex;
  justify-content: space-around;
}

body {
  background-color: aqua;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}